@import "vars";

/*----------------- Tags */
html,
body {
    height: 100%;
}

.interactable {
    pointer-events: auto !important;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: $font-family-description;
    background-color: $background-colour;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: $font-size-text;
    color: $font-colour;
}

div,
div > * {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

ul {
    padding: 0px;
    margin: 0;
    flex-grow: 1;
}

li {
    list-style: none;

    * {
        padding: 0 0.5rem;
    }
}

h1 {
    font-family: $font-family-title;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-family: $font-family-title;
    font-size: 1rem;
    margin-bottom: 0px;

    margin-top: 0.5rem;
}

h4 {
    font-family: $font-family-subtitle;
    font-size: 0.9rem;
    margin-bottom: 0px;
    margin-top: 3px;
}

p {
    font-size: $font-size-text;
    margin-block-end: 0;
    margin-block-start: 2px;
}

a {
    text-decoration: none;
}

input,
select {
    border: $input-border solid;
    font-family: $font-family-input;
}

summary {
    font-family: $font-family-subtitle;
    color: white;
    margin: 20px 0px;
}

::-webkit-input-placeholder {
    /* Edge */
    font-style: italic;
    color: #b8b8b8;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-style: italic;
    color: #b8b8b8;
}

::placeholder {
    font-style: italic;
    color: #b8b8b8;
}

/* ---------------- Hide */
.hidden {
    display: none !important;
}
