/*---------------- Map  */
@import 'vars';

#map {
    position: absolute;
    top     : 0;
    bottom  : 0;
    width   : 100vw;
    height  : 100vh;
    z-index : 1;
}

.mapboxgl-canvas-container {
    cursor: "default";
}

.mapboxgl-ctrl-top-right {
    top    : 0;
    right  : 0;
    display: none;
}
.geocoder {
    position: absolute;
    z-index : 3;
    top     : 10px;
    right   : 65px;
}

.mapboxgl-ctrl-geocoder {
    font-size       : 18px;
    line-height     : 24px;
    /*font-family   : "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;*/
    font-family     : "Quicksand" !important;
    position        : relative;
    background-color: white !important;
    /* width        : 100%; */
    width           : 230px !important;
    min-width       : 230px !important;
    z-index         : 1;
    border-radius   : 0px !important;
    transition      : width .25s, min-width .25s;
    height          : 30px;
    align-items     : center;
    margin-right    : 5px !important;
}

.mapboxgl-ctrl-group {
    border-radius     : 0px !important;
    -moz-box-shadow   : 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow        : 0 0 0 2px rgba(0, 0, 0, 0.1);
    overflow          : hidden;
    background        : #fff;
}

.map-overlay {
    font   : bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    top    : 0;
    left   : 0;
    padding: 10px;

    input {
        background-color: transparent;
        display         : inline-block;
        width           : 100%;
        position        : relative;
        margin          : 0;
        cursor          : ew-resize;
    }

    label {
        display: block;
        margin : 0 0 10px;
    }

    .map-overlay-inner {
        padding      : 10px;
        margin-bottom: 10px;
    }
}

.mapboxgl-popup-content {
    position      : relative;
    background    : #fff;
    box-shadow    : 0 1px 2px rgba(0, 0, 0, 0.1);
    padding       : 10px 10px 15px;
    pointer-events: auto;
    max-height    : 200px;
    overflow-y    : scroll;
}

.mapbox-gl-draw_ctrl-draw-btn {
    width           : 30px;
    height          : 30px;
    display         : block;
    padding         : 0;
    outline         : none;
    border          : 0;
    box-sizing      : border-box;
    background-color: white;
    cursor          : pointer;
    box-shadow      : 0 1px 2px rgba(0, 0, 0, 0.20);
    margin          : 0px 5px;
    mix-blend-mode  : exclusion;
    
}


// .mapbox-gl-draw_ctrl-draw-btn:hover {
//     background-color: black;
// }

.mapboxgl-ctrl-geocoder--input {
    font-family: $font-family-input !important;
    font-size: 0.75rem !important;
}

/* ---------- Mapbox Draw ---------*/

/* Override default control style */

.mapboxgl-ctrl-bottom-left {
    z-index: 5 !important;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    margin: 5px 5px;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
    margin: 0 30px 10px 0;
    float : right;
}

.mapbox-gl-draw_ctrl-bottom-left,
.mapbox-gl-draw_ctrl-top-left {
    margin-left  : 0;
    border-radius: 0px;
}

.mapbox-gl-draw_ctrl-top-right,
.mapbox-gl-draw_ctrl-bottom-right {
    margin-right : 0;
    border-radius: 0px;
}

.mapbox-gl-draw_ctrl-draw {
    background-color: rgba(0, 0, 0, 0.75);
    border-color    : rgba(0, 0, 0, 0.9);
}

.mapbox-gl-draw_ctrl-draw>button {
    border-color: rgba(0, 0, 0, 0.9);
    color       : rgba(255, 255, 255, 0.5);
    width       : 30px;
    height      : 30px;
}

// .mapbox-gl-draw_ctrl-draw>button:hover {
//     background-color: rgba(0, 0, 0, 0.85);
//     color           : rgba(255, 255, 255, 0.75);
// }

// .mapbox-gl-draw_ctrl-draw>button.active,
// .mapbox-gl-draw_ctrl-draw>button.active:hover {
//     background-color: rgba(0, 0, 0, 0.95);
//     color           : #fff;
//}

.mapbox-gl-draw_ctrl-draw-btn {
    background-repeat  : no-repeat;
    background-position: center;
}

.mapboxgl-map.mode-simple_select.feature-feature.mouse-hover .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: move;
}

.mapboxgl-map.mode-simple_select.feature-vertex.mouse-hover .mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-map.mode-direct_select.feature-vertex.mouse-hover .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: pointer;
}

.mapboxgl-map.mode-direct_select.feature-midpoint.mouse-hover .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: cell;
}

.mapboxgl-map.mode-draw_point .mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-map.mode-draw_line_string .mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-map.mode-draw_polygon .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: crosshair;
}