/*----------------- Variables */

$background-colour            : #2e2e2e;
$highlight-colour             : rgb(59, 59, 59);
$highlight-colour-transparent :#1f1f1faf;
$primary                      :#00d1b2;
$secondary                    : #777777;
$font-family-description      :"Segoe UI",
sans-serif;
$font-family-input : "Segoe UI",
sans-serif;
$font-family-title : "Segoe UI",
sans-serif;
$font-family-subtitle : "Segoe UI",
sans-serif;
$font-size-text : 1rem;
$font-colour : white;
$input-border   : 0.05rem;
$shadow         :5px 5px 18px #111111;